/* main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
} */
.containers{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Row 1 */
#row_1{
    width: 100%;
    height: 100px;
    float: left;
}
#left_img{
    margin: 20px 0 0 0;
    width: 50px;
    height: 50px;
    float: left;
}
#detail_caption{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 15px;
}

/* row 2 */

#row_2{
    width: 100%;
    height: 300px;
    float: left;
}
#detail_img{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
    float: left;
}
#row_2 img{
    float: left;
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
}
#row_2 #download{
    float: left;
    margin-top: 47px;
}
 
/* row 3 */
#row_3{
    width: 100%;
    height: 350px;
    float: left;
}
#text{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
    float: left;
}
#detail_desc{
    width: 400px;
    height: 280px;
    border-radius: 10px;
    outline: none;
    resize: none;
    border: 0px solid white;
    margin-left: 30px;
    margin-top: 20px;
    overflow-x: auto;
    background-color: #d6dbdf;
}

#vid{
    width: 300px;
    height: 300px;
    float: left;
}