
/* Search */
.note_body{
    width: 100%;
    height: 100px;
    background-color: #ECF0F1;
}

    /* btn search */
.khleang_search{
    float: left;
    width: 30%;
}
.khleang_form{
    margin-top: 20px;
    margin-left: 30px;
    width: 100%;
    height: 100%;
}
.khleang_ip{
    float: left;
    width: 200px;
    height: 60px;
    border-style: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    margin-left: 10px;
    background-color: #ECF0F1;
}
.khleang_label{
    float: left;
    margin-top: 10px;
}
.khleang_label img{
    width: 40px;
    height: 40px;
}

    /* Edit & Add */
#note_edit{
    float: right;
    width: 100px;
    height: 100px;
    padding-top: 35px;
    margin-right: 50px;
}
#note_edit img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

    /* add */
#note_add{
    float: right;
    width: 150px;
    height: 100px;
    padding-top: 35px;
    margin-right: 50px;
}
#note_add img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Foot */
.note_foot{
    width: 100%;
    height: 600px;
    background-color: #ECF0F1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow-x: auto;
    grid-row-gap: 30px;
}
.note_foot::-webkit-scrollbar{
    width: 0;
}
#np{
    margin:  20px 0 0 25px;
    width: 300px;
    height: 350px;
}

/* modal modify*/
#ip_img{
    height: 100%;
}
#ip_description{
    height: 150px;
}

/* Display photo UI */
#post_photo {
    width: 100%;
    height: 100px;
    background-color: #e6ebef;
    display: flex;
    margin-top: 5px;
  }
#post_photo_box {
    width: 80px;
    height: 80px;
    background-color: white;
    margin: 9px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#post_photo_box img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px ) {
    .khleang_search{
        width: 50%;
        height: 100px;
    }
    .khleang_form{
        width: 100%;
        height: 100%;
        margin: 15px;
    }
    .khleang_label{
        width: 30%;
    }
    .khleang_ip{
        width: 70%;
        margin: 0;
    }


    #note_add{
        width: 50%;
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
