
/* btn upload */
#btn_upload{
    float: right;
    width: 200px;
    height: 100%;
}
#btn_upload button{
    margin-top: 40px;
    margin-right: 50px;
}
#btn_upload button i{
    margin-right: 5px;
}

/* loading in modal */
#loading{
    margin-left: 20px;
    margin-top: 10px;
}

/* modal */
.form-select{
    width: 90%;
    margin: 0 0 20px 20px;
}

/* Foot */
#upload_link{
    background-color: #ECF0F1;
    width: 100%;
    height: 65px;
    padding-left: 15px;
}
#upload_link a{
    float: left;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    opacity: 50%;
    cursor: pointer;
}
#upload_link a:hover{
    color: blue;
    border-bottom: 2px solid blue;
    opacity: 100%;
}

.upload_foot{
    width: 100%;
    height: 575px;
    background-color: #ECF0F1;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    overflow-x: auto;
    grid-auto-rows: 70px;
    grid-row-gap: 20px;
}
.upload_foot::-webkit-scrollbar{
    width: 0;
}
#f{
    width: 98%;
    height: 95%;
    background-color: white;
    padding: 8px;
    margin: 10px;
    border-radius: 7px;
    border: 2px solid black;
}

@media only screen and (max-width: 600px ) {
    #btn_upload{
        width: 50%;
    }
}