#profile_main{
    width: 100%;
    height: 745px;
    background-color: #ECF0F1;
}
#profile_body{
    width: 100%;
    height: 675px;
    background-color: #ECF0F1;
    padding-top: 15px;
}
#profile_cycle{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 0% auto;
}
#profile_cycle img{
    width: 100%;
    height: 100%;
}
#profile_username{
    width: 80px;
    height: 50px;
    margin-top: 10px;
}
#profile_info_body{
    width: 100%;
    height: 200px;
    padding: 20px;
}
#profile_info{
    width: 100%;
    height: 100%;
}
#profile_info p{
    margin: 0 0 30px 0;
}
#profile_logout{
    width: 100px;
    height: 50px;
    margin-top: 100px;
}